.CardContainer {
  display: flex;
  color: #282c34;
  width: 50vw;
  width: 50svw;
  height: 50vh;
  height: 50svh;
  position: absolute;
  border-radius: 15%;
  transition: transform 0.438s ease-in;
}

.Word {
  flex-direction: row;
  align-self: center;
  font-size: clamp(4rem, 5vw + 1rem, 6rem);
  margin: auto;
  text-align: center;
  user-select: none;
  position: relative;
}

@media (max-width: 600px) {
  .CardContainer {
    width: 90vw;
    width: 90svw;
    height: 75vh;
    height: 75svh;
    max-height: 100svh;
    overflow: hidden;
  }

  .Word {
    font-size: clamp(1rem, 3vw + 1rem, 3rem);
  }
}
