.Front {
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: aliceblue;
  visibility: visible;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  background: linear-gradient(
    to bottom,
    var(--french-blue) 0%,
    var(--french-blue) 33%,
    var(--french-red) 33%,
    var(--french-red) 66%,
    var(--white) 66%,
    var(--white) 100%
  );
}

.Rank {
  position: relative;
  flex-direction: column;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: calc(8px + 2vmin);
}

@media (max-width: 600px) {
  .Rank {
    padding: 2rem;
    position: fixed;
  }
}
