.legend {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 10px 10px 0px;
  box-sizing: unset;
  overflow-y: auto;
  margin: 1rem;
}

.legend-item {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .legend {
    visibility: hidden;
    display: none;
  }
}
