input {
  z-index: 5;
  position: absolute;
  color: aliceblue;
  font: 60px consolas, sans-serif;
  outline: none;
  top: 30vh;
  text-align: center;
}

.visible {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(204, 204, 204, 0);
}

.hidden {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(204, 204, 204, 0);
}
@media (max-width: 600px) {
  input {
    top: 25vh;
    top: 25svh;
    width: 90vw;
    width: 90svw;
    font-size: clamp(1rem, 1vw + 1rem, 3rem);
    height: clamp(3rem, 1vw + 1rem, 3rem);
    background-color: rgba(0, 0, 0, 0.7);
  }
}
