@import url("./vars.css");
.App {
  text-align: center;
  background-color: aliceblue;
  display: flex;
  font-size: calc(10px + 2vmin);
  border: #24212e solid 1px;
  border-radius: 1.5rem;
  border-width: 0.06rem;
  border-color: rgba(0, 0, 0, 1);
  padding: 0.5rem;
  max-width: 97vw;
  max-width: 97svw;
  max-height: 95vh;
  max-height: 95svh;
}

@media (min-width: 800px) {
  .App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
  }
}
@media (max-width: 600px) {
  .App {
    border: unset;
    max-width: 100vw;
    max-width: 100svw;
    max-height: 100vh;
    max-height: 100svh;
  }
}
