@import url("notyf/notyf.min.css");

body {
  margin: 0;
  font-family: "Sabon LT Std", Georgia, "Roboto", "Oxygen", serif, -apple-system,
    BlinkMacSystemFont, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  max-width: 100svw;
  max-height: 100svh;
  overflow: hidden;
}

/* declare vars */
.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ecf5f4;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  width: 100svw;
  height: 100svh;
  max-width: 100svw;
  max-height: 100svh;
}

.hardlyinteresting {
  color: rgba(0, 0, 0, 0.25);
  fill: rgba(0, 0, 0, 0.25);
}

.semiinteresting {
  color: rgba(0, 0, 0, 0.5);
  fill: rgba(0, 0, 0, 0.5);
}

.slightlyinteresting {
  color: rgba(0, 0, 0, 0.75);
  fill: rgba(0, 0, 0, 0.75);
}
@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body {
    position: relative;
  }
}

.fade-out {
  animation: fadeOut 10s forwards;
  transition: opacity 0.5s;
}

.fade-out:hover {
  animation-play-state: paused;
  opacity: 1 !important;
}

.fade-out-hover {
  animation: fadeOut 30s forwards;
  transition: opacity 0.5s;
}

.fade-out-hover:hover {
  animation-play-state: paused;
  opacity: 1 !important;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
