input {
  z-index: 5;
  position: absolute;
  color: aliceblue;
  font: 60px consolas, sans-serif;
  outline: none;
  top: 30vh;
  text-align: center;
}

.visible {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(204, 204, 204, 0);
}

.hidden {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(204, 204, 204, 0);
}
@media (max-width: 600px) {
  input {
    top: 25vh;
    top: 25svh;
    width: 90vw;
    width: 90svw;
    font-size: clamp(1rem, 1vw + 1rem, 3rem);
    height: clamp(3rem, 1vw + 1rem, 3rem);
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.oral {
  border-radius: 1.5rem;
  border-width: 0.06rem;
  padding: 0.5rem;
  max-width: 97vw;
  max-width: 97svw;
  max-height: 95vh;
  max-height: 95svh;
  min-width: 25svw;
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(12px);
  text-align: center;
  background-color: var(--french-primary);
}
