.Back {
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: linear-gradient(
    to bottom,
    var(--usa-red) 0%,
    var(--usa-red) 14.28%,
    var(--white) 14.28%,
    var(--white) 28.56%,
    var(--usa-red) 28.56%,
    var(--usa-red) 42.84%,
    var(--white) 42.84%,
    var(--white) 57.12%,
    var(--usa-red) 57.12%,
    var(--usa-red) 71.4%,
    var(--white) 71.4%,
    var(--white) 85.68%,
    var(--usa-red) 85.68%,
    var(--usa-red) 100%
  );
}

.Category {
  font-size: calc(8px + 2vmin);
  margin-top: 10vh;
  margin-top: 10svh;
  user-select: none;
  margin: 2rem;
  position: absolute;
}
