.Back {
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: var(--english-colors);
}

.Category {
  font-size: calc(8px + 2vmin);
  margin-top: 10vh;
  margin-top: 10svh;
  user-select: none;
  margin: 2rem;
  position: absolute;
}
