.Back {
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: linear-gradient(
    to bottom,
    #b31942 0%,
    #b31942 14.28%,
    #ffffff 14.28%,
    #ffffff 28.56%,
    #b31942 28.56%,
    #b31942 42.84%,
    #ffffff 42.84%,
    #ffffff 57.12%,
    #b31942 57.12%,
    #b31942 71.4%,
    #ffffff 71.4%,
    #ffffff 85.68%,
    #b31942 85.68%,
    #b31942 100%
  );
}

.Category {
  font-size: calc(8px + 2vmin);
  margin-top: 10vh;
  margin-top: 10svh;
  user-select: none;
  margin: 2rem;
  position: absolute;
}
