.App {
  text-align: center;
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  background-color: #ecf5f4;
}

button {
  top: 80vh;
  position: absolute;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: system-ui;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #24212e;
}

button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  Button {
    padding: 0.75rem 1.5rem;
  }
}
