body {
  margin: 0;
  font-family: "Sabon LT Std", Georgia, "Roboto", "Oxygen", serif, -apple-system,
    BlinkMacSystemFont, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  max-width: 100svw;
  max-height: 100svh;
  overflow: hidden;
}

@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body {
    position: relative;
  }
}
